<%- include('partials/header') %>

<div class="container">
    <h1>Error 404. Page not found...</h1>
    <a style="color: #333; text-decoration: none" href="/">Return to home</a>
</div>

<%- include('partials/footer') %>