<%- include('partials/header') %>

<div class="about-container">

<h3 style="text-align:center">About the app</h3>
<hr>
<p >This is an application made by Stavros Thalassinos as requested to be an exercise for practicing backend skills while also
    utilizing a RESTful API to retrieve data and render it on the page while using paging at the same time.</p>


    <hr>
    Here you can find the API documentation <br>
    <a href="https://api.artic.edu/docs/#introduction">Click here!</a>
    

</div>

</div>


</body>
</html>
